/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

:root{
  --mario-bg-red: #B2443F;
  --mario-cap: #B53234;
  --mario-skin: #F1BE95;
  --mario-hair: #642817;
  --mario-eye: #5AB7D1;
  --mario-mouth: #531414;
  --mario-tongue: #B52928;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
html, body, pre, code, kbd, samp, p {
  font-family: 'Press Start 2P', cursive;
}

html, body {
  height:100%;
  margin:0;
}
h1 {
  color:black;
  display: block;
  width: 100%;
  text-align: center;
}

/* Buttons */
.buttons{
  position: relative;
  top: -145px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.buttons button, aside button{
  position: relative;
  width: 200px;
  height: 40px;
  margin: 20px;
  border-radius: 20px;
  border: 2px solid black;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 5px 5px 1px black;
}

.buttons button span{
  display: block;
}

.buttons button.flash::after{
  content: "Flash warning!";
  position: absolute;
  top: 36px;
  left: 13%;
  padding: 5px;
  width: 150px;
  background-color: yellow;
  border-radius: 0 0 15px 15px;
  border: 2px solid black;
}

.buttons button:hover, aside button:hover{
  background-color: white;
  box-shadow: inset 1px 1px 5px black;
}

.buttons button:active {
  background-color: var(--mario-bg-red);
  color: white;
  box-shadow: inset 3px 3px 5px black;
}

.buttons button:focus {
  outline:0;
  border: 4px solid black;
}
/* Einde buttons */

.personages{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 500px;
}

.personage{
  width: 220vmin;
  height: 100%;
  padding:50px;
}

.mario{
  background-color: var(--mario-bg-red);
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 0;
}

.mario .hoofd{
  position: relative;
  height: 500px;
  width: 500px;
  margin-top: 40px;
  filter: drop-shadow(0px 0px 2px black);
}

/* Pet kroon */
.mario .hoofd > .pet{
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: -2;
}

.mario .hoofd > .pet .kroon{
  height: 50%;
  width: 50%;
  background-color: var(--mario-cap);
  transform: rotate(45deg);
  border-radius: 38% 62% 67% 33% / 41% 25% 75% 59% ;
}

.mario .hoofd > .pet .logo-vlak{
  position: absolute;
  top: 25px;
  width: 90px;
  height: 90px;
  background-color: #fff;
  border-radius: 50%;
}
.mario .hoofd > .pet .logo{
  position: relative;
  left: 5px;
  top: 5px;
  width: 80px;
  height: 80px;
  background-color: var(--mario-cap);
  clip-path: polygon(50% 35%, 68% 15%, 92% 64%, 76% 74%, 64% 41%, 50% 56%, 36% 39%, 24% 75%, 9% 63%, 31% 14%);
  z-index:10;
}

.mario .hoofd > .pet .logo::after{
  content: "";
  position: relative;
  left: 5px;
  top: 5px;
  width: 80px;
  height: 80px;
  background-color: white;
  clip-path: polygon(50% 35%, 68% 15%, 92% 64%, 76% 74%, 64% 41%, 50% 56%, 36% 39%, 24% 75%, 9% 63%, 31% 14%);
  z-index:10;
  transform: scale(0.9);
}
/* Einde pet kroon */

/* Gezicht */
.mario .hoofd .gezicht{
  position: absolute;
  top: 120px;
  left: 150px;
  /* background-color: var(--mario-skin); */
  width: 200px;
  height: 200px;
  border-radius: 20px;
}
/* Einde gezicht */

/* Oren */
.mario .hoofd .oren{
  position: absolute;
  top: 55px;
  width: 100%;
  /* z-index: -1; */
}

.mario .hoofd .oren .oor{
  position: absolute;
  width: 50px;
  height: 80px;
  background-color: black;
  background-color:  var(--mario-skin);
}

.mario .hoofd .oren .oor.links{
  left: -32px;
  transform: rotate(145deg);
  border-radius: 15% 85% 62% 38% / 15% 30% 70% 85%;
}

.mario .hoofd .oren .oor.rechts{
  right: -32px;
  transform: rotate(-145deg) scaleX(-1);
  border-radius: 15% 85% 62% 38% / 15% 30% 70% 85%;
}
/* Einde oren */

/* Pet rand */
.mario .gezicht > .pet{
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.mario .gezicht > .pet .rand-1{
  position: absolute;
  height: 210px;
  width: 220px;
  transform: rotate(90deg);
  bottom: 11px;
  z-index: 5;
  border-radius: 120px;
  border-bottom-right-radius: 150px;
  border-top-right-radius: 150px;
  background: radial-gradient(circle at 100%, var(--mario-skin), var(--mario-skin) 50%, var(--mario-skin) 75%, #B53234 75%);
}

.mario .gezicht > .pet .rand-2{
  position: absolute;
  height: 200px;
  width: 170px;
  transform: rotate(90deg);
  top: -19px;
  z-index: 6;
  background: radial-gradient(circle at 150%, transparent, transparent 55%, transparent 85%, #9b1315 86%);
  border-radius: 60px;
}
/* Einde pet rand */

/* Haren */
.mario .hoofd > .gezicht .haren{
  position: absolute;
  top: 25px;
  width: 100%;
  height: 80px;
  z-index: 5;
}

.mario .hoofd > .gezicht .haren .haar .curve{
  position: absolute;
  border-radius: 50%;
  background-size: 451% 170%;
  background-position: center bottom;
}

.mario .hoofd > .gezicht .haren .haar .curve.top{
  width: 59px;
  height: 63px;
}
.mario .hoofd > .gezicht .haren .haar .curve.mid{
  width: 53px;
  height: 52px;
}
.mario .hoofd > .gezicht .haren .haar .curve.bottom{
  width: 60px;
  height: 59px;
}

.mario .hoofd > .gezicht .haren .haar.links .curve{
  
  left: -5px;
  background-image: radial-gradient(at 50% bottom, transparent 61px, var(--mario-hair) 62px);
}
.mario .hoofd > .gezicht .haren .haar.links .curve.top{
  transform: rotate(-93deg);
}
.mario .hoofd > .gezicht .haren .haar.links .curve.mid{
  top: 28px;
  left: -36px;
  transform: rotate(-283deg);
  background-image: radial-gradient(at 45% bottom, transparent 61px, var(--mario-hair) 62px);
}
.mario .hoofd > .gezicht .haren .haar.links .curve.bottom{
  top: 28px;
  left: -6px;
  transform: rotate(-102deg);
}

.mario .hoofd > .gezicht .haren .haar.rechts .curve{
  right: -5px;
  background-image: radial-gradient(at 52% bottom, transparent 61px, var(--mario-hair) 62px);
  transform: rotate(90deg);
}
.mario .hoofd > .gezicht .haren .haar.rechts .curve.top{
  transform: rotate(93deg);
}
.mario .hoofd > .gezicht .haren .haar.rechts .curve.mid{
  top: 28px;
  right: -36px;
  transform: rotate(277deg);
  background-image: radial-gradient(at 45% bottom, transparent 61px, var(--mario-hair) 62px);
}
.mario .hoofd > .gezicht .haren .haar.rechts .curve.bottom{
  top: 29px;
  right: -8px;
  transform: rotate(105deg);
}
/* Einde haren */

/* Wenkbrauwen */
.mario .gezicht > .wenkbrauwen{
  top: -187px;
  left: 25px;
  width: 75%;
  height: 80px;
  z-index: 7;
  position: relative;
  transition: all 1s;
}

.mario .gezicht > .wenkbrauwen .wenkbrauw{
  position: absolute;
  width: 60px;
  height: 70px;
  border-radius: 50%;
  background-size: 451% 170%;
  background-position: center bottom;
}

.mario .gezicht > .wenkbrauwen .wenkbrauw.links{
  left: 0;
  background-image: radial-gradient(at 48% bottom, transparent 61px, var(--mario-hair) 62px);
}

.mario .gezicht > .wenkbrauwen .wenkbrauw.rechts{
  right: 0;
  background-image: radial-gradient(at 52% bottom, transparent 61px, var(--mario-hair) 62px);
}
/* Einde enkbrauwen */

/* Ogen */
.mario .gezicht > .ogen{
  position: relative;
  top: -290px;
  left: 40px;
  width: 60%;
  height: 50px;
  z-index: 5;
}

.mario .gezicht > .ogen .oog{
  position: absolute;
  top: 46px;
  width: 49px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  z-index: 6;
  overflow: hidden;
}

.mario .gezicht > .ogen .oog .ooglid{
  transform: translateY(-61px);
  position: absolute;
  top: 0;
  width: 49px;
  height: 60px;
  background-color: var(--mario-skin);
  border-radius: 5%;
  z-index: 7;
  box-shadow: 0px 0px 2px black;
}
.mario .gezicht > .ogen .oog .kleur{
  position: absolute;
  top: 16px;
  width: 35px;
  height: 40px;
  border-radius: 30% 70% 20% 80% / 30% 80% 20% 70%;
  z-index: 6;
}
.mario .gezicht > .ogen .oog .pupil{
  position: absolute;
  width: 20px;
  height: 30px;
  background-color: black;
  transform: rotate(-10deg);
  border-radius: 30% 70% 20% 80% / 30% 80% 20% 70% ;
  z-index: 7;
}
.mario .gezicht > .ogen .oog .glimmer{
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}

.mario .gezicht > .ogen .oog.links{
  left: 0;
}
.mario .gezicht > .ogen .oog.links .ooglid{
  bottom: -20px;
}
.mario .gezicht > .ogen .oog.links .kleur{
  background-color: var(--mario-eye);
  left: 12px;
  transform: rotate(32deg);
}
.mario .gezicht > .ogen .oog.links .pupil{
  top: 7px;
  left: 9px;
}
.mario .gezicht > .ogen .oog.links .pupil .glimmer{
  top: -4px;
  left: 4px;
}

.mario .gezicht > .ogen .oog.rechts{
  right: 0;
}
.mario .gezicht > .ogen .oog.rechts .ooglid{
  bottom: -20px;
}
.mario .gezicht > .ogen .oog.rechts .kleur{
  background-color: var(--mario-eye);
  right: 11px;
  transform: scaleX(-1) rotate(32deg);
}
.mario .gezicht > .ogen .oog.rechts .pupil{
  top: 6px;
  right: 6px;
}
.mario .gezicht > .ogen .oog.rechts .pupil .glimmer{
  top: 0px;
  left: -4px;
}
/* Einde ogen */

/* Neus */
.mario .gezicht > .neus{
  /* position: absolute;
  top: 70px;
  left: 53px;
  background-color: var(--mario-skin);
  width: 90px;
  height: 75px;
  box-shadow: 1px 1px 5px black;
  border-radius: 30px;
  z-index: 8;
  transform: scale(0.9); */

  position: absolute;
  top: 70px;
  left: 58px;
  background-color: var(--mario-skin);
  width: 83px;
  height: 73px;
  box-shadow: 1px 1px 5px black;
  border-radius: 35px;
  z-index: 8;
  transform: scale(0.9);
}
/* Einde neus */

/* Snor */
.mario .gezicht > .snor{
  position: relative;
  top: -240px;
  width: 154px;
  left: 24px;
  height: 60px;
  z-index: 7;
}

.mario .gezicht > .snor .curl{
  position: absolute;
  width: 85px;
  height: 60px;
  border-radius: 50%;
  background-size: 461% 200%;
  background-image: radial-gradient(at 46% bottom, transparent 61px, var(--mario-hair) 62px);
  background-position: center bottom;
}

.mario .gezicht > .snor .curl .bolletje{
  position: absolute;
  width: 40px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--mario-hair);
}

.mario .gezicht > .snor .curl.links{
  left: 0;
  top: -15px;
  transform: rotate(180deg);
}

.mario .gezicht > .snor .curl.links .bolletje.hoog{
  top: -9px;
  left: 27px;
}
.mario .gezicht > .snor .curl.links .bolletje.laag{
  top: -17px;
  left: 0;
}

.mario .gezicht > .snor .curl.rechts{
  right: 0;
  top: -15px;
  transform: rotate(180deg) scaleX(-1);
}

.mario .gezicht > .snor .curl.rechts .bolletje.hoog{
  top: -9px;
  left: 27px;
}
.mario .gezicht > .snor .curl.rechts .bolletje.laag{
  top: -17px;
  left: 0;
}
/* Einde snor */

/* Mond */
.mario .gezicht > .mond{
  position: relative;
  top: -250px;
  left: 65px;
  width: 70px;
  height: 40px;
  background-color: var(--mario-mouth);
  z-index: 6;
  border-radius: 0 0 30px 30px;
  overflow: hidden;
  transition: all 1s;
}
.mario .gezicht > .mond::before{
  content: "";
  position: absolute;
  width: 70px;
  height: 40px;
  top: 40px;
  background-color: var(--mario-skin);
  z-index: 9;
}
.mario .gezicht > .mond::after{
  content: "";
  position: absolute;
  background-color: var(--mario-skin);
  z-index: 9;
}

.mario .gezicht > .mond .tanden{
  position: absolute;
  top: 0px;
  left: 0;
  width: 70px;
  height: 13px;
  background-color: white;
  z-index: 6;
}

.mario .gezicht > .mond .tong{
  position: absolute;
  top: 25px;
  left: 13px;
  width: 48px;
  height: 15px;
  background-color: var(--mario-tongue);
  z-index: 7;
  border-radius: 0 0 30px 30px;
  transform: rotate(180deg);
}
/* Einde mond */

/* 
  Animation
*/

/* Blink */
.mario.blink .ooglid{
  animation: blink .5s ease-in-out;
}

@keyframes blink {
  0%   {
    transform: translateY(-61px);
  }
  25%  {
    transform: translateY(0px);
  }
  50%  {
    transform: translateY(-61px);
  }
  70%  {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-61px);
  } 
}
/* Einde blink */

/* Raise brows */
.mario.yahoo .gezicht > .wenkbrauwen{
  animation: raise_brows 1.5s ease-in;
}

.mario.yahoo .hoofd .mond::before{
  animation: raise_brows_mouth 1.5s ease-in-out;
}

@keyframes raise_brows {
  0%   {
    transform: translateY(0px);
  }
  25%  {
    transform: translateY(-31px);
  }
  50%  {
    transform: translateY(-21px);
  }
  70%  {
    transform: translateY(-31px);
  }
  100% {
    transform: translateY(0px);
  } 
}

@keyframes raise_brows_mouth {
  0%{
    transform: translateY(0px);
  }
  20%{
    transform: translateY(-31px);
  } 
  40%{
    transform: translateY(0px);
    background-color: var(--mario-skin);
  }
  75%{
    transform: translateY(-41px);
    background: radial-gradient(circle at 45% 35%, rgba( 255, 125, 125, 0.3 ) 28%, var(--mario-skin) 10%, var(--mario-skin) 100%);
  }
  100%{
    transform: translateY(0);
  }
}
/* Einde raise brows */

/* Waaa */
.mario.waaa .gezicht > .wenkbrauwen .wenkbrauw.links{
  animation: raise_brows 1.5s ease-in-out;
}

.mario.waaa .gezicht > .wenkbrauwen .wenkbrauw.rechts{
  animation: raise_brows 1.2s .3s ease-in-out;
}

.mario.waaa .hoofd .mond::before{
  animation: waaa_mouth 1.5s ease-in-out;
}

@keyframes waaa_mouth {
  0%   {
    transform: translateY(0px);
  }
  10%{
    transform: translateY(-41px);
    background: radial-gradient(circle at 45% 35%, rgba( 255, 125, 125, 0.3 ) 28%, var(--mario-skin) 10%, var(--mario-skin) 100%);
  }
  50%{
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  } 
}
/* Einde waaa */

/* Who dis? */

.mario.who-dis .ogen .oog.links .ooglid{
  animation: wink .5s ease-in-out;
}

.mario.who-dis .wenkbrauwen .wenkbrauw.links{
  animation: wink_brow .5s ease-in-out;
}

.mario.who-dis .hoofd .mond::before{
  animation: who_dis_mouth 2s 1s ease-in-out;
}

@keyframes wink {
  0%   {
    transform: translateY(-61px);
  }
  50%  {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-61px);
  } 
}

@keyframes wink_brow{
  0%   {
    transform: translateY(0px);
  }
  50%  {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  } 
}

@keyframes who_dis_mouth {
  0%{
    top: 40px;
  } 
  10%{
    top: 0px;
  }
  20%{
    top: 40px;
  }
  30%{
    top: 0px;
  }
  50%{
    top: 40px;
  }
  60%{
    top: 0px;
    background: var(--mario-skin);
  }
  70%{
    top: 40px;
  }
  80%{
    top: 0px;
    background: radial-gradient(circle at 45% 35%, rgba( 255, 125, 125, 0.3 ) 28%, var(--mario-skin) 10%, var(--mario-skin) 100%);
  }
  100%{
    top: 0px;
    background: radial-gradient(circle at 45% 35%, rgba( 255, 125, 125, 0.3 ) 28%, var(--mario-skin) 10%, var(--mario-skin) 100%);
  }
}
/* Einde who dis */

/* Licky lick */
.mario.licky .gezicht > .mond::before{
  content: "";
  top: -250px;
  position: absolute;
  width: 70px;
  height: 40px;
  background-color: var(--mario-skin);
  z-index: 7;
  border-radius: 0 0 30px 30px;
  overflow: hidden;

  animation: licky_mond 3s;
}

.mario.licky .gezicht > .mond .tong{
  animation: licky_tong 2s .3s;
}

.mario.licky .ogen .ooglid{
  animation: licky_ogen 2s ease-in-out;
}

@keyframes licky_mond{
  0%   {
    top:-250px;
  }
  5%   {
    top:-100px;
  }
  10%   {
    top:-10px;
  }
  60%   {
    top:-10px;
  }
  80%   {
    top:-150px;
  }
  100% {
    top:-250px;
  } 
}

@keyframes licky_tong{
  0%{
    left:13px;
    top: 25px;
  }
  25%{
    left:-15px;
    top: 15px;
    height: 40px;
  }
  50%{
    left:20px;
  }
  70%{
    left:-14px;
  }
  90%{
    left:13px;
  }
  100%{
    left:13px;
    top: 25px;
    height: 15px;
  }
}

@keyframes licky_ogen{
  0%   {
    transform: translateY(-61px);
  }
  25%  {
    transform: translateY(-35px);
  }
  80%  {
    transform: translateY(-35px);
  }
  100% {
    transform: translateY(-61px);
  } 
}
/* Einde Licky lick */

/* Za warudo */

.mario.dio{
  animation: gradient 3s 1.4s ease-in-out;
}

.mario.dio .hoofd{
  animation: dio_zoom 3s 1.4s ease-in-out;
}

.mario.dio .hoofd .mond::before{
  animation: dio_mouth 1.5s .3s forwards ease-in-out;
}

.mario.dio .oog{
  animation: dio_eyes 3s forwards ease-in-out;
}


@keyframes gradient {
  0% {
    background: radial-gradient(circle at 50% 32%, rgba( 255, 125 , 125, 0 ) 0%, #fff 0%, #fff 100%);
    filter: invert(0);
  }
  10% {
    background: radial-gradient(circle at 50% 32%, rgba( 255, 125, 125, 0.3 ) 9%, #fff 10%, #fff 100%);
    filter: invert(50%);
  }
  25% {
    background: radial-gradient(circle at 50% 32%, rgba( 255, 125, 125, 0.3 ) 24%, #fff 25%, #fff 100%);
    filter: invert(50%);
  }
  50% {
    background: radial-gradient(circle at 50% 32%, rgba( 255, 125, 125, 0.5 ) 49%, #fff 50%, #fff 100%);
    filter: invert(80%);
  }
  60% {
    background: radial-gradient(circle at 50% 32%, rgba( 255, 125, 125, 0.5 ) 59%, #fff 60%, #fff 100%);
    filter: invert(80%);
  }
  75% {
    background: radial-gradient(circle at 50% 32%, rgba( 255, 125, 125, 0.8 ) 74%, #fff 75%, #fff 100%);
    filter: invert(80%);
  }
  80% {
    background: radial-gradient(circle at 50% 32%, rgba( 255, 125, 125, 0.8 ) 79%, #fff 80%, #fff 100%);
    filter: invert(80%);
  }
  100% {
    color: #fff;
    background: radial-gradient(circle at 50% 32%, #f88 99%, #fff 100%, #fff 100%);
    filter: invert(0);
  }
}

@keyframes dio_zoom{
  0% {
    transform: rotate(0deg) scale(1);
  }
  10% {
    transform: rotate(-5deg) scale(1.1);
  }
  20% {
    transform: rotate(5deg) scale(1.1);
  }
  30% {
    transform: rotate(20deg) scale(0.8);
  }
  90%{
    transform: rotate(20deg) scale(0.7);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

@keyframes dio_mouth{

  0%{
    top: 40px;
    background: var(--mario-skin);
  } 
  10%{
    top: 0px;
  }
  20%{
    top: 40px;
  }
  30%{
    top: 0px;
  }
  50%{
    top: 40px;
    background: var(--mario-skin);
  }
  75%{
    top: 0px;
  }
  90%{
    background: radial-gradient(circle at 45% 35%, rgba( 255, 125, 125, 0.3 ) 28%, var(--mario-skin) 10%, var(--mario-skin) 100%);
  }
  100%{
    top: 0px;
    background: radial-gradient(circle at 45% 35%, rgba( 255, 125, 125, 0.3 ) 28%, var(--mario-skin) 10%, var(--mario-skin) 100%);
  }
}

@keyframes dio_eyes{
  0%{
    top: 46px;
    height: 60px;
  }
  40%{
    top: 30px;
    height: 80px;
  }
  100%{
    top: 30px;
    height: 80px;
  }
}
/* Einde za warudo */

/* Scary */

.mario.scary.scary_eyecolor .ogen .kleur{
  animation: scary_eyecolor .5s ease-in-out forwards;
}

.mario.scary.move_scary_eyes .ogen .kleur{
  animation: move_scary_eyes 1.5s 1 ease-in-out forwards;
}

.mario.scary.scary_bg{
  animation: scary_bg .1s 8 ease-in-out;
}

.mario.scary.scary_bg .ogen .oog{
  animation: black_eyes .1s 5 ease-in-out;
}

/* Minder erge flash voor mensen die daar niet zo oed tegen kunnen*/
@media (prefers-reduced-motion) {
  
  .mario.scary.scary_bg{
    animation: scary_bg 2s 1 ease-in-out;
  }
  
  .mario.scary.scary_bg .ogen .oog{
    animation: black_eyes .6s 2 ease-in-out;
  }
} 

.mario.scary .mond{
  animation: scary_mouth 3s ease-in-out forwards;
}

@keyframes scary_eyecolor {
  0%   {
    background-color: var(--mario-eye);
  }
  50%{
    background-color: red;
  }
  100% {
    background-color: var(--mario-eye);
  } 
}

@keyframes move_scary_eyes {
  0%   {
    top: 16px;
  }
  10% {
    top: 9px;
  }
  90% {
    top: -200px;
  } 
  100% {
    top: 16px;
  } 
}

@keyframes scary_mouth{
  0%   {
    border-radius: 0 0 30px 30px;
  }
  60%{
    border-radius: 30px 30px 0 0;
  }
  80%{
    border-radius: 30px 30px 0 0;
  }
  100% {
    border-radius: 0 0 30px 30px;
  } 
}

@keyframes scary_bg{
  0%   {
    background-color: var(--mario-bg-red);
  }
  25%  {
    background-color: black;
  }
  50%  {
    background-color:yellow;
  }
  70%  {
    background-color:black
  }
  100% {
    background-color: var(--mario-bg-red);
  } 
}

@keyframes black_eyes{
  0%   {
    background-color: var(--mario-eye);
  }
  25%  {
    background-color: black;
  }
  100% {
    background-color: var(--mario-eye);
  } 
}
/* Einde scary */